<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<!-- Action beans -->
	<bean id="BaseAction" 
		 class="com.pokemon.action.BaseAction" 
		 scope="prototype">
		<property name="loginService" ref="loginService"></property>
		<property name="customerService" ref="customerService"></property>
		<property name="registerService" ref="registerService"></property>
		<property name="sellerService" ref="sellerService"></property>
	</bean>
	
	<!-- Service beans -->
	<bean id="baseService" abstract="true">
		<property name="userDao" ref="userDao"></property>
		<property name="itemDao" ref="itemDao"></property>
		<property name="orderDao" ref="orderDao"></property>
	</bean>
	
	<bean id="loginService" class="com.pokemon.service.LoginService"
			parent="baseService">
	</bean>
	
	<bean id="customerService" class="com.pokemon.service.CustomerService"
			parent="baseService">
	</bean>
	
	<bean id="registerService" class="com.pokemon.service.RegisterService"
			parent="baseService">
	</bean>
	
	<bean id="sellerService" class="com.pokemon.service.SellerService"
			parent="baseService">
	</bean>
	
	
	
	<!-- Dao beans -->
	<bean id="baseDao" abstract="true">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userDao" class="com.pokemon.dao.UserDao"
			parent="baseDao">
	</bean>
	
	<bean id="itemDao" class="com.pokemon.dao.ItemDao"
			parent="baseDao">
	</bean>
	
	<bean id="orderDao" class="com.pokemon.dao.OrderDao"
			parent="baseDao">
	</bean>
	
</beans>